@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --colour-dark: #121213;
  --colour-dark-grey: #3a3a3c;
  --colour-light-grey: #818384;
  --colour-white: #f1f1f1;
  --colour-yellow: #b59f3b;
  --colour-green: #538d4e;
  --colour-blue: #0d6efd;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: var(--colour-dark);
  color: var(--colour-white);
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--colour-dark-grey);
  text-align: center;
}

header h1 {
  font-size: 1.5rem;
}

.history {
  background: transparent;
  cursor: pointer;
  color: var(--colour-white);
  outline: none;
  border: none;
}
.history svg {
  width: 24px;
  height: 24px;
}
.history:hover {
  color: var(--colour-light-grey);
}

/* a,
a:visited {
  color: var(--colour-white);
} */

td,
th {
  padding: 0.5rem 1rem;
  text-align: center;
}
td {
  border: 1px solid var(--colour-dark-grey);
}

.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.game-container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.game-history {
  margin: 0.5rem 0;
}
.game-history svg {
  margin-left: 0.5rem;
  width: 32px;
  height: 32px;
  padding: 0.25rem;
}

.top {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.game-over {
  margin-bottom: 1rem;
}

.game-over-btn {
  background: var(--colour-blue);
  padding: 0.75rem 1rem;
  color: var(--colour-white);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.tile-row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.tile {
  min-width: 53px;
  min-height: 53px;
  border: 2px solid var(--colour-dark-grey);
  margin: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.correct {
  background: var(--colour-green) !important;
  border: none;
}

.position {
  background: var(--colour-yellow) !important;
  border: none;
}

.incorrect {
  background: var(--colour-dark-grey) !important;
  border: none;
}

.invalid {
  border: 1px solid lightcoral;
}

.red {
  color: lightcoral;
}

.keyboard {
  margin: 1rem 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-input {
  background: var(--colour-dark);
  border: none;
  outline: none;
  color: var(--colour-dark);
  pointer-events: none;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colour-light-grey);
  font-size: 1rem;
  font-weight: bold;
  margin: 0.3rem 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.alert {
  padding: 1rem;
  margin: 0.5rem auto;
  width: 90%;
  border-radius: 4px;
  max-width: fit-content;
}

.alert-error {
  background: #721c24;
  color: #f8d7da;
}

.alert-success {
  background: var(--colour-green);
  color: #d4edda;
}

.alert-warning {
  background: #383d41;
  color: #e2e3e5;
}

/* Phones/Tablets */
@media (max-width: 600px) {
  .top {
    margin-top: 1rem;
  }

  .alert {
    padding: 0.25rem;
  }

  .letter {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 400px) {
  .letter {
    margin: 0.3rem 0.15rem;
  }
}

/* Tiny Phones */
@media (max-width: 350px) {
  .tile {
    min-width: 30px;
    min-height: 30px;
    border: 1px solid var(--colour-dark-grey);
    margin: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.15rem;
  }

  .letter {
    width: 26px;
    height: 26px;
  }
}
